@model Sales.ApplicationWebLayer.Models.ShoppingCartViewModel

<head>
    <script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script>
    const hubConnection = new signalR.HubConnectionBuilder()
    .withUrl("/bookCounterHub")
    .build();

    hubConnection.on("UpdateRemainCopiesNumber", function(bookId, changeValue) {
        let elemValue = document.getElementById(bookId).firstChild;
        let nodeValue = elemValue.nodeValue;
        let newValue = parseInt(changeValue) + parseInt(nodeValue);
        elemValue.replaceData(0, elemValue.length, newValue);
        });
    hubConnection.start();

    function increaseRemainingCopies(id) {
        hubConnection.invoke("UpdateRemainCopiesNumber", id, -1);
    }

    </script>
</head>
<body>
<h2>
    Корзина
</h2>
<table class="table">
    <th>
        Позиция
    </th>
    <th>
        Название
    </th>
    <th>
        Цена
    </th>
    @using (Html.BeginForm())
    {
        @foreach (var cartItem in Model.CartItems)
        {
            <tr>
                <td>
                    @cartItem.Id
                </td>
                <td>
                    @cartItem.BookTitle
                </td>
                <td>
                    @cartItem.BookPrice
                </td>
                <td>
                    <form asp-action="RemoveFromCart">
                        <button asp-action="RemoveFromCart" type="submit" asp-route-bookId="@cartItem.BookId" onclick="increaseRemainingCopies(@cartItem.BookId)" class="btn btn-outline-secondary">убрать</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
<div>
    Итоговая сумма: @Model.CartItems.Sum(i => i.BookPrice)
    @if (Model.CartItems.Sum(i => i.BookPrice) >= 2000)
    {
        <form asp-action="MakeOrder" asp-controller="MainPage">
            <button asp-action="MakeOrder" type="submit" asp-route-orderedBookIds ="@string.Join(",",Model.CartItems.Select(i => i.BookId))" class="btn btn-outline-secondary">Оформить заказ</button>
        </form>
    }
</div>

</body>