@using Sales.ApplicationWebLayer.Components
@using Sales.ApplicationWebLayer.Controllers
@model List<BookViewModel>

@{
    ViewData["Title"] = "Сейлы!";
}

<!DOCTYPE html>

<html>
<head>
    <title>testing</title>
</head>
<body>
<div>
    <table class="table">
        <th>
            @Html.DisplayNameFor(model => model[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].CoverPicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PublicationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].CopiesNumber)
        </th>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>
                    <img src="data:image/png;base64, @book.CoverPicture"/>
                </td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td>@book.Isbn</td>
                <td>@book.Price</td>
                <td>@book.CopiesNumber</td>
                @if (book.CopiesNumber > 0)
                {
                    @if (!book.HasAlreadyInCart)
                    {
                        <td>
                            <form asp-action="AddToCart">
                                <button asp-action="AddToCart" type="submit" asp-route-bookId="@book.Id" class="btn btn-outline-secondary">move to cart</button>
                            </form>
                        </td>
                    }
                }

            </tr>
        }
    </table>
    <span>
        @await Component.InvokeAsync(typeof(ShoppingCartViewComponent))
    </span>


</div>
</body>
</html>